{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <hr>

    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        <br>
        {{ new_form.title_form }}

        <br>
        <br>
        {{ new_form.body_form }}
        <br>
        <br>
        <button class="btn btn-outline-secondary">Save Page</button>

    </form>
    <br>
    <a href="{% url 'index' %}">Back to Home</a>
{% endblock %}